body {
  /* background-image: url("pexels-ithalu-dominguez-907485.jpg"); */
  background-image: url("https://images3.alphacoders.com/536/53625.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(.4em);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
